body {
	font-family: 'Open Sans', sans-serif !important;
}

#content {
	background: #F7F7F7;
}

#inlog {
	display: none;
}

#goback {
	cursor: pointer;
}

#calendar {
	float:none;
}

.login-box div.logo-box {
	text-align: center;
}

.login-box div.logo-box img.logo {
	width:50%;
}

input#kenteken {
	background: url('../img/kentekenplaat.gif');
	background-size: contain;
	background-repeat: no-repeat;
	width:100px;
	height:auto;
	padding: 5px 30px;
	text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
	font-size:22px;
	text-align:center;
}

.has-error {
	color: red;
}

.kenteken {
	background: url('../img/kentekenplaat.gif');
	background-size: contain;
	background-repeat: no-repeat;
	display:block;
}

span.kenteken {
	padding: 2px 30px;
}

td > span.yellow, td > span.red, td > span.green, td > span.blue {
	padding: 4px 6px;
}

.kenteken-xl {
	width:150px;
	height:auto;
	font-size:22px;
	padding: 5px 30px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.kentekenagenda {
	font-size: 9px;
	width: 45px;
	padding: 3px 15px;
	margin-top:0px;
	color:black;
}
.margin-abit {
	margin-top:15px;
}
