body {
	font-family: 'Open Sans', sans-serif !important;
}

#content {
	background: #F7F7F7;
}

#inlog {
	display: none;
}

#goback {
	cursor: pointer;
}

.kenteken {
	background: url('../img/kentekenplaat.gif');
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 10px;
	width: 50px;
	padding: 3px 15px;
	margin-top:0px;
	
	display:block;
}
